* {
  margin: 0;
  padding: 0;
}
body {
  background-color: azure;
  overflow: hidden;
}
.gameContainer {
  width: 100%;
  height: 100vh;
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.dino {
  background-image: url(dino.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 230px;
  height: 114px;
  position: absolute;
  bottom: 0;
  left: 50px;
}
.obstacle {
  background-image: url(dragon.png);
  background-size: cover;
  width: 170px;
  height: 110px;
  position: absolute;
  bottom: 0;
  left: 44vw;
}
.animateDino {
  animation: dino 0.6s linear;
}
.obstacleAni {
  animation: obstacleAni 2s linear infinite;
}
.gameOver {
  position: relative;
  top: 65px;
  font-size: 50px;
  text-align: center;
}
#scoreCount {
  position: absolute;
  right: 73px;
  top: 53px;
  color: brown;
  border: 2px solid black;
  padding: 8px;
  width: 140px;
  font-size: 20px;
  border-radius: 10px;
  font-family: cursive;
}
@keyframes dino {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 460px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes obstacleAni {
  0% {
    left: 100vw;
  }
  100% {
    left: -10vw;
  }
}
